{% extends "core.html" %}
{% block content %}

<div class="container" style="padding-top: 70px;">
	<div class="row">
		<div class="col-sm-2" data-tabs="tabs">
			<ul class="nav nav-pills nav-stacked">
				<li {% if "dashboard" in request.path %} class="active" {% endif %}>
					<a href="{% url 'hygenist:dashboard' %}">Dashboard</a>
				</li>
				<li {% if "sitevisit" in request.path %} class="active" {% endif %}>
					<a href="{% url 'hygenist:visits' %}">Site Visits</a>
				</li>
				<li {% if "patient" in request.path %} class="active" {% endif %}>
					<a href="{% url 'hygenist:patients' %}">Patients</a>
				</li>
				<li {% if "settings" in request.path %} class="active" {% endif %}>
					<a href="{% url 'hygenist:settings' %}">Settings</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-10" id="topthing">
			
			{% block tabcontent %}
			{% endblock %}
		</div>
	</div>

</div>
{% endblock %}