{% extends "core.html" %}
{% block content %}

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="/static/img/skylineBackgroundSmall.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>Bringing dental care to all.</h1>
              <h3>We bring world-class dental care to you.</h3>
              <br>
              <p><a class="btn btn-lg btn-primary" href="/patients/register/" role="button">Sign Up</a></p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/static/img/step1.png"width="140" height="140">
          <h2>Convenient</h2>
          <p>We bring the dental office to you.  No more travel - no more hassle</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/img/step2.png" width="140" height="140">
          <h2>Effective</h2>
          <p>Provide your basic diagnostic and preventative dentalvisit onsite.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/img/step3.png" width="140" height="140">
          <h2>Quality</h2>
          <p>Connect to the best dentists through telehealth visits.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Better Health.</h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-3 pull-right">
        <img class="featurette-image img-responsive center-block" src="/static/img/appleThing.png">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Reduce Absenteeism <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-3 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="/static/img/reduceAbsenteeism.png">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">We've got the rest</h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-3 pull-right">
        <img class="featurette-image img-responsive center-block" src="/static/img/weveGotTheRest.png">
      </div>
    </div>

    <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->
{% endblock %}